<div class="visible-borders between-range-container" id="between-range">

    <label class="visible-borders" for="">Population between: </label>


    <div class=" range-elements">

        <div class="padding-default">
            <input type="number" name="" id="" [(ngModel)]='minPopulation' (change)='onSendRange()'>
        </div>
    
        <div class="padding-default">
            And
        </div>
    
        <div class="padding-default">
            <input type="number" name="" id="" [(ngModel)]="maxPopulation" (change)='onSendRange()'>
        </div>
    </div>

</div>