<div id="component-wrapper">

    <div id="person-grid-wrapper" class="show-margins">

        <!-- <div class="layout" id="search-bar">
            <input type="text" name="" id="search" placeholder='Filter by. . .'>

            <button >
                Show Image
            </button>

        </div> -->

        <div class="layout" id="table-wrapper">

            <table *ngIf='accounts && accounts.length'>

                <thead>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </thead>

                <tbody>
                    <tr *ngFor='let contact of accounts'>
                        <td>{{ contact.firstname }}</td>
                        <td>{{ contact.lastname }}</td>
                        <td>{{ contact.email }}</td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>
</div>